
# Introduction

## Le nouveau

!head example d'en-tête avec nouvelle commande..

* Le rêve de la supraconductivité haute temp
    * eaeaea
    * eaeae bibopa llulula
* 1987: la révolution
    * eaeaea
    * eaeaeafsfhsflhs
* 10 ans plus tard, le mystère plane toujours
* Les électrons fortement corrélés
* Ce qui se passe au confluent des rivière Magog et St François..

Remerciements:

Professeur *Jules Carbotte*

* Directeur du programme de l'institut
canadien de recherches avancées

* ^^
* ^^



!foot http://www.physique.usherb.ca/~tremblay/cours/ING-610
