{% include 'begin.html' %}
{% include 'header.html' %}
{% include 'voice.html' %}

{% include 'iframe_mini_small.html' %}

<h1> All the slides </h1>

<br><br><br><br>

{% for i in range(0, number_diapos) -%}

        <iframe id="frame{{i}}" src="d{{i}}" sandbox="allow-scripts" > diapo {{i}} </iframe>
        <span class="name_diap" id="d{{i}}"> diapo {{i}} </span>

{% endfor %}

<script>

var socket = io.connect();
var nbcol = {{mosaic_width}}    // nb of columns in the mosaic
var nblines = Math.round({{number_diapos}}/nbcol)  // nb of lines in the mosaic //
make_the_mosaic(nblines,nbcol)

function one_diap(currdiap,i,j){

      /*
      Create one diapo
      */

      var posx=  50 + 300*j     // pos x for iframe
      var posy=  150 + 250*i    // pos y for iframe
      //------
      var posxd =  posx + 150  // pos x for name
      var posyd =  posy -3     // pos y for name
      //-------
      $('#frame' + currdiap).css({'top' : posy, 'left' : posx})
      $('#d' + currdiap).css({'top' : posyd, 'left' : posxd, 'font-size' : '10px'})

}

function make_the_mosaic(nblines,nbcol){

      /*
      Build the complete mosaic representation..
      */

      for (var i=0; i < nblines; i++){    // sweep on the lines
          for (var j=0; j < nbcol; j++){  // sweep on the columns
               var currdiap = i*nbcol + j
               if (currdiap < {{number_diapos}}){

                  one_diap(currdiap,i,j)

              } // if
          } // j

      } // i
}

$('.name_diap').click(function(){        // return to the full view diapo
      //alert($(this).attr('id'))
      socket.emit('numdiap', parseInt($(this).attr('id').slice(1)))
      location.replace($(this).attr('id'))
})

</script>


{% include 'diapo.html' %}
{% include 'math.html' %}
{% include 'scroll_socket.html' %}
{% include 'end.html' %}
