
<script src="/socket.io/socket.io.js"></script>

<script>

var socket = io.connect();

var stp=0;

console.log('===== DIAPO.HTML SCRIPT STARTING =====');

String.prototype.format = function () {
  var i = 0, args = arguments;
  return this.replace(/{}/g, function () {
    return typeof args[i] != 'undefined' ? args[i++] : '';
  });
};

var keymap = {
        backspace: 8, tab: 9, clear: 12,
        enter: 13, 'return': 13,
        esc: 27, escape: 27, space: 32,
        left: 37, up: 38,
        right: 39, down: 40,
        del: 46, 'delete': 46,
        home: 36, end: 35,
        pageup: 33, pagedown: 34,
        ',': 188, '.': 190, '/': 191,
        '`': 192, '-': 189, '=': 187,
        ';': 186, '\'': 222,
        '[': 219, ']': 221, '\\': 220
  }

var keyev = function(key, event){

        /*
        generic code for key event with a key letter..
        */

        if (event.keyCode == key.charCodeAt(0)-32 ){
            curr_func(key)
            return true
        }else{ return false }

      } // end keyev


//------------------------

color_bar = "{{color_bar}}" //'violet'

function set_page_num_and_slider(diapo_index){

      /*
      Set the page number and position in the slider
      */

      if (diapo_index != 0){

            var isInIframe = (window.self !== window.top);

            // In iframe, check if there's a preview parameter in URL
            var displayIndex = diapo_index;
            if (isInIframe) {
                var urlParams = new URLSearchParams(window.location.search);
                var previewNum = urlParams.get('preview');
                if (previewNum) {
                    displayIndex = parseInt(previewNum);
                }
            }
            console.log('isInIframe:', isInIframe, 'diapo_index:', diapo_index, 'displayIndex:', displayIndex);

            // Always show page number (both in main window and iframe)
            var numpage = displayIndex + '/' + (parseInt(diapo_max) - 1)

            // Only create #num if it doesn't exist
            if ($('#num').length === 0) {
                $('#content').append($('<p></p>').attr('id', 'num'))
            }

            // Update content and style
            $('#num').text(numpage).css({
                'position': 'absolute', 'bottom': '20px',
                'right': '30px', 'font-size': '20px',
                'z-index': '100'
            })

            // Only create slider if not inside an iframe
            if (!isInIframe) {
                // Calculate slider length to go up to 100px from right edge
                var sliderLength = window.innerWidth - 300  // 150px from left + 150px from right
                var initialSliderX = 150 + diapo_index*sliderLength/(diapo_max - 1)
                param_slider_x = [{'xbar': 150,
                                   'x': initialSliderX,
                                   'ybar': 50, 'y': 50,
                                   'col': color_bar, 'dir': 'x',
                                   'slength': sliderLength, 'action': chgx}]
                slide(param_slider_x, svg)  // 'violet'

                // Initialize slider_value with the initial position
                $('#slider_value').html(initialSliderX)
            }

        } // end if

}

//---------------

$('h1').css({'right':'5%'})
var diapo_index = {{ diapo_index }}  // Initialize with value from server-side template
console.log('Initial diapo_index from template:', diapo_index)

socket.on('numdiap', function(numdiap){
      console.log('Received numdiap from server:', numdiap)
      diapo_index = parseInt(numdiap)
      set_page_num_and_slider(diapo_index)
     })  // index of current diap
// Emit initial diapo_index to server
console.log('Emitting initial diapo_index to server:', diapo_index)
socket.emit('numdiap', diapo_index)
var diapo_max = null
socket.on('maxdiap', function(text){
  console.log('Received maxdiap from server:', text)
  diapo_max = text
  // Set initial page number and slider once we have diapo_max
  set_page_num_and_slider(diapo_index)
  socket.emit('params','')
 })        // number max of diapo

// Register arrow key handlers with keymaster
console.log('===== REGISTERING ARROW/SPACE HANDLERS =====');
console.log('key function type:', typeof key);
console.log('socket:', socket);

key('right, pagedown', function(event){
    if ((diapo_index + 1) < diapo_max) { diapo_index += 1 }
    location.replace("d{}".format(diapo_index));
    socket.emit('numdiap', diapo_index)
    return false;  // prevent default
});
console.log('RIGHT handler registered');

key('left, pageup', function(event){
    if ((diapo_index - 1) > -1) { diapo_index += -1 }
    location.replace("d{}".format(diapo_index));
    socket.emit('numdiap', diapo_index)
    return false;  // prevent default
});

// interception laser signal

window.addEventListener('keydown', function (event) {
    // 116 est le code pour F5
    // event.metaKey / event.ctrlKey + 'r' pour le raccourci de recharge
    if (event.keyCode === 116 || (event.ctrlKey && event.key === 'r')) {
        console.log("Tentative de recharge bloquée !");
        event.preventDefault();
        return false;
    }
});


window.addEventListener('keydown', function (event) {
    console.log("Touche pressée :", event.key);
    console.log("Code de la touche :", event.keyCode);
});

//------------------ New diapo

key('ctrl+p', function(){                      // Add a new diapo
      socket.emit('make_new_diap', '')
      alert('adding a new diapo !!!!!');
      return false
  });

//------------------ memos indicators

// Memo system moved to memos/memo.js

//------------------ view of all the diapos

key('alt+a', function(){         // go to the global view of the slides..
    
    // alert("d index is "+ diapo_index)
    const diapo_id = 'd' + diapo_index;
    location.replace("all#" + diapo_id)
      
    diapo_index = 0
    socket.emit('numdiap', diapo_index)  // set diapo_index to 0 for avoiding bad page number..
  });

//------------------ go to markdown

key('alt+t', function(){         // pass to text..
    window.location.href = 'text';                    // flip from html to textarea
  });

//------------------ go to miniatures

key('alt+m', function(){         // show all the slides as miniatures
    window.location.href = 'all_mini';     
    diapo_index = 0
    socket.emit('numdiap', diapo_index)                
  });

//------------------ delete the slide

key('alt+ctrl+x', function(){
    pos_before = diapo_index-1   //
    //alert('delete')
    window.location.href = 'd' + pos_before;
    socket.emit('delete', diapo_index)
    });

//----------------------- general configuration

$('li').css({'font-size':'160%', 'margin': '30px 100px', 'color':'#000000', 'margin-left':'200px'})
$('li li').css({'font-size':'80%', 'margin': '15px 30px', 'color':'#000000'})
$('h1').css({'margin-left':'100px'})
$('h2').css({'margin-left':'100px'})
$('p').css({'margin-left':'100px'})
$('.effect2').css({'box-shadow':'0 0 0 0'})
$('.navbar-inner').hide()
$('#toc').hide()
$('#content').css({'margin-left':'0px',
                   'margin-right':'0px',
                   'padding-bottom':'0px',
                   'padding-top':'0px',
                   'padding-left':'100px',
                   'height' : '100vh',
                   'min-height': '790px'
                   })
$('body').css({'margin': '0', 'padding': '0', 'overflow': 'hidden'})
$('html').css({'overflow': 'hidden'})
$('.container').css({
    'width': '100%',
    'max-width': '100%',
    'margin': '0',
    'padding': '0'
})
//$('li li').hide()         // hide the Mémos
$('.help').hide()         // hide the help
$('#gobottom').hide()     // hide go to bottom

function match__inject_stop(elem, patt){

      /*
      Inject class stop
      */

      elem.each(function(){
           var htm = $(this).html()
           if (htm.match(patt)){
               pattern = htm.match(patt)
               var class_added = pattern.slice(1,-1)
               $(this).attr('class', 'stop')                  // adding Class
           }
       })
}

match__inject_stop($('li'), /\!stp/) // inject Class stop

function progressive_visu_hide_show(elem,showline,count,reg){

    /*
    hide show...
    */

    if ( !showline  ){ elem.hide() } // hide if after tag !stp..
    else if (showline & ( count > 0 )){
        elem.show()
        elem.find('li').show()
        elem.html(elem.html().replace(reg,''))
     }

}

function progressive_visualization(stp){

    /*
    Show the li or p one after another according to tags !stp ..
    */

    var count = 0;
    var reg = /\!stp/
    var showline = true;
    var hasHiddenContent = false;
    var lastVisibleElement = null;

    $('li, p').not('#num, #footlim, .foot, .head, #infos, #infos *').each(function(){
         var txt = $(this).text()
         //alert(htm)
         if ($(this).hasClass('stop')){
             count += 1
             if (count > stp){
                 showline = false
                 hasHiddenContent = true
             }
         }
        progressive_visu_hide_show($(this),showline,count,reg )
        if ($(this).hasClass('targ_memo')){ $(this).hide() }   // hide memo tags..
        if ($(this).hasClass('foot')){ $(this).show() }        // show footer

        // Track the last visible element
        if (showline && $(this).is(':visible')) {
            lastVisibleElement = $(this)
        }
    })

    // Show or hide the "more content" indicator
    if (hasHiddenContent && lastVisibleElement) {
        if ($('#more-content-indicator').length === 0) {
            // Create indicator if it doesn't exist
            var indicator = $('<div>').attr('id', 'more-content-indicator')

            // Create three separate dots for smooth circles
            for (var i = 0; i < 3; i++) {
                var dot = $('<span>').text('•')
                indicator.append(dot)
            }

            indicator.css({
                'position': 'absolute',
                'left': '50%',
                'transform': 'translateX(-50%)',
                'font-size': '25px',
                'color': '#888',
                'z-index': '90',
                'letter-spacing': '5px',
                'text-align': 'center'
            })
            $('body').append(indicator)
        }

        // Position indicator just below the last visible element
        var lastElemOffset = lastVisibleElement.offset()
        var lastElemHeight = lastVisibleElement.outerHeight()
        var topPosition = lastElemOffset.top + lastElemHeight + 10

        $('#more-content-indicator').css('top', topPosition + 'px').show()
    } else {
        $('#more-content-indicator').hide()
    }
}

function remove_patt_change_css(elem,txt,patt,dict_css){

      /*
      Remove the pattern and modify the css
      patt : pattern
      dict_css : dictionary of the css parameters..
      */

      var new_txt = txt.replace(patt,'')
      elem.text(new_txt)
      elem.css(dict_css)

}

function frame_col(){

      /*
      Frame with color around tag element
      eg: !fb  for blue frame ..
      */

      var dic_col = {'b':'blue','r':'red','g':'green','o':'orange'}
      var tags = ['h1','h2','h3']
      var reg = /\!f\w/
      for (var i in tags){
            $(tags[i]).each(function(){
                var regmatch = $(this).text().match(reg)
                if (regmatch){
                      var col = dic_col[regmatch[0].slice(-1)] // find color..
                      var cssfb = {'border':'3px solid ' + col, 'display':'inline-block', 'padding':' 7px 7px 7px 7px'}
                      elem_match__inject_css($(this), reg, cssfb)
                }
            })
      }
}

frame_col() // frame with color around the tag..

function elem_match__inject_css(elem, patt, dict_css){

      /*
      Generic match replace
      patt : pattern
      dict_css : dictionary of the css parameters..
      */

      if (patt==/\!fb/){alert('patt is fb')}
      elem.each(function(){
           var txt = $(this).text()
           if (txt.match(patt)){
               remove_patt_change_css($(this),txt,patt,dict_css)
               var class_added = patt.toString().slice(3,-1)
               //alert("class_added " + class_added)
               $(this).attr('class',class_added) // adding Class
               if (txt.match(/\!eq/)){                                // if equation..
                  $(this).text('$$' + $(this).text() + '$$')
               }
           }
       })
}

function p_match__inject_css(patt, dict_css){

      /*
      Generic match replace
      patt : pattern
      dict_css : dictionary of the css parameters..
      */

      elem_match__inject_css($("p"), patt, dict_css)

}

// Memo functions moved to memos/memo.js

//------------------------ hiding voice tag

$('p').each(function(){
    var regtagv = new RegExp( '!tagv' );
    if ( $(this).text().match(regtagv) ){
         $(this).hide()         
    }
})

//------------------------

function change_pos(elem){

      /*
      Change the position of the element
      */

      var reg0 = /\!pos/
      //var reg1 = /\!pos\d+\.\d+\/\d+\.\d+/
      var reg1 = /\!pos\d+\/\d+/

      elem.each(function(){
           var txt = $(this).text()
           var htm = $(this).html()
           if (txt.match(reg1)){
                  regmatch = txt.match(reg1)
                  var coord = regmatch[0].split('!pos')[1].split('/')
                  var x = parseFloat(coord[0])
                  var y = parseFloat(coord[1])

                  // Check if this paragraph contains an image
                  var hasImage = $(this).find('img').length > 0

                  if (hasImage) {
                      // For images: disable pointer-events on paragraph, enable on image
                      $(this).css({'position':'absolute','left':x + 'px', 'top':y + 'px', 'z-index':'1', 'pointer-events':'none'})
                      $(this).html(htm.replace(regmatch,''))
                      $(this).find('img').css('pointer-events', 'auto')
                  } else {
                      // For equations or other content: enable pointer-events on the whole paragraph
                      $(this).css({'position':'absolute','left':x + 'px', 'top':y + 'px', 'z-index':'1', 'pointer-events':'auto'})
                      $(this).html(htm.replace(regmatch,''))
                  }

                  // Mark with a class for special drag handling
                  $(this).addClass('positioned-image')
           }
      });
}

change_pos($('p'))

// ============================================
// DECORATION FUNCTIONS - Included from decorate/decorate.htm
// ============================================

{% include 'decorate/decorate.htm' %}

//----------- equation

function make_eq(){

      /*
      Equation
      syntax : !eq e^{i\pi}=-1
      */

      // Don't set position in diceq - let change_pos() handle it for positioned equations
      var diceq= {'font-size':'150%', 'text-align':' center '}
      p_match__inject_css(/\!eq/, diceq)

      // Assign unique IDs to equations for drag positioning
      var eq_counter = 0
      $('p.eq').each(function(){
          if (!$(this).attr('id')) {
              $(this).attr('id', 'eq-' + eq_counter)
              eq_counter++
          }

          // If equation doesn't have absolute positioning (no !pos marker), set relative
          if ($(this).css('position') !== 'absolute') {
              $(this).css('position', 'relative')
          }
      })

}

// ============================================
// FIRST PAGE FUNCTIONS - Included from first_page/first_page.htm
// ============================================

{% include 'first_page/first_page.htm' %}

make_head()  //-----------------------------  Header
make_foot()  //-----------------------------  Footer
make_eq()    //-----------------------------  Equation

//-----------------------------  Full screen

// Fullscreen functionality removed - use F11 for native browser fullscreen

//-----------------------------  go to markdown by voice

socket.on('markdown', function(){

     /*
     trigger markdown view
     */

     //alert('go to markdown !!! ')
     window.location.href = 'text'   // flip from html to textarea

    })

//-----------------------------  Mémos
// Memo system moved to memos/memo.js

// Memo event handlers and UI moved to memos/memo.js

//-------------------- Simple mardown..

simple_md = function(text){               // mini markdown for the help
     var all_text = text.split('\n')
     var htm = $('<div/>')
     var ul = $('<ul/>').css({'padding-left':'150px'})
     for (i in all_text){
         var text_insert = all_text[i].trim().slice(1) // prepare text
         if (all_text[i].match(/^\s{4}\*/)){    // detect list first level
             ul.append($('<li/>').text(text_insert).css({"font-weight": "bold"}))
             } // end if
         if (all_text[i].match(/^\s{8}\*/)){  // detect list second level
                 var interm1 = $('<ul/>').append($('<li/>').text(text_insert))
                 ul.append(interm1)
                 } // end if
         if (all_text[i].match(/^\s{12}\*/)){  // detect list third level
                 var interm2 = $('<ul/>').append($('<li/>').text(text_insert))
                 interm1.append(interm2)
                 } // end if
         if (all_text[i].match(/\s*\#/)){ // detect #
             htm.append( $('<h1/>').html(text_insert + '<br>' + '<br>') )
             } // end if
     } // end for
     htm.append(ul);
     return htm.html()
 } // end function

 //------------------------------- Generic css for alerts

 alerts_css_dict = { 'position':'absolute',
   'top': '200px', 'left':'100px',
   'padding-left': '10px',
   'padding-right': '10px',
   'padding-top' : '50px',
   'width': '400px','height': '200px',
   'font-size' : '16px',
   'background-color':'grey',
   'box-shadow': '8px 8px 12px #aaa',
   'opacity':'1',
   'z-index': '100'
 }

//------------------------------- Generic css dict for infos

infos_css_dict = { 'position':'absolute',
  'top': '50px', 'left':'10px',
  'padding-left': '10px',
  'padding-right': '10px',
  'padding-top' : '50px',
  'width': '600px','height': '400px',
  'font-size' : '16px',
  'background-color':'white',
  'box-shadow': '8px 8px 12px #aaa',
  'opacity':'1',
  'z-index': '100'
}

//--------------------------------  Help keys

var help_keys = $('<div>').attr('id','help_keys')
help_keys.css(infos_css_dict)

help_keys.draggable()
$('#content').append(help_keys.hide())
help_keys.click(function(){
    $(this).toggle()
})

//--------------------- available keys

var keys = function(){/*

# Keys

* Keys ::
    * ctrl + a : view all the slides
    * alt + h : help
    * ctrl + i : save the position of the picture..
    * ctrl + m : show memos..
    * alt+m : miniatures
    * ctrl + p : create new slide
    * alt + s : show text sequentially
    * alt + t : show markdown
    * alt+ctrl+x : delete slide
    * > : slide + 1
    * < : slide - 1

*/}.toString().slice(14,-3)

$('#help_keys').html(simple_md(keys))

//--------------------- Show the help

key('alt+k', function(){         // Show the help, voice : "aide"
    $('#help_keys').toggle()
  });

//--------------------------------  Help voice commands

var help_voice_cmds = $('<div>').attr('id','help_voice_cmds')
help_voice_cmds.css(infos_css_dict)

help_voice_cmds.draggable()
$('#content').append(help_voice_cmds.hide())
help_voice_cmds.click(function(){
    $(this).toggle()
})

//------------------------ available voice commands

var voice_cmds = function(){/*

# Voice commands

* Voice ::
    * aide : help
    * nouvelle diapo : create new slide
    * toutes les diapos : view all the slides
    * memos : show memos..
    * diapo + num : go to diapo num ..

*/}.toString().slice(14,-3)

$('#help_voice_cmds').html(simple_md(voice_cmds))

//----------- voice commands

key('alt+v', function(){         // Show the help
    $('#help_voice_cmds').toggle()
  });

//------------------------------- Progressive visualization..

progressive_visualization(stp)

key('down', function(){  // next lines
    stp += 1;
    progressive_visualization(stp)
})

key('up', function(){  // previous lines
    if (stp > 0) {
        stp -= 1;
        progressive_visualization(stp)
    }
})

//---------------------------------

// Make both images (p figure) and equations (p.eq) draggable
$('p figure, p.eq').each(function(){
    var $element = $(this);
    var wasDragged = false;

    $element.draggable({
        start: function() {
            wasDragged = false;
        },
        drag: function() {
            wasDragged = true;
        },
        stop: function() {
            // Keep wasDragged true for a moment after stopping
            setTimeout(function() {
                wasDragged = false;
            }, 200);
        }
    });

    // Prevent click after dragging
    $element.on('click', function(e) {
        if (wasDragged) {
            e.preventDefault();
            e.stopImmediatePropagation();
            return false;
        }
    });

    $element.find('img').on('click', function(e) {
        if (wasDragged) {
            e.preventDefault();
            e.stopImmediatePropagation();
            return false;
        }
    });
})

//------------------------- Context menu for images and equations

// Create context menu
var $contextMenu = $('<div>')
    .attr('id', 'image-context-menu')
    .css({
        'position': 'fixed',
        'background': 'white',
        'border': '1px solid #ccc',
        'box-shadow': '2px 2px 8px rgba(0,0,0,0.2)',
        'z-index': '10000',
        'display': 'none',
        'min-width': '180px',
        'padding': '5px 0'
    })

$('body').append($contextMenu)

var currentTarget = null

// Show context menu on right-click for images and equations
$(document).on('contextmenu', 'p figure, p.eq, .positioned-image', function(e) {
    e.preventDefault()
    currentTarget = $(this)

    // Clear previous menu content
    $contextMenu.empty()

    // Get current image dimensions
    var img = currentTarget.find('img')
    var currentWidth = img.length > 0 ? Math.round(img.width()) : 0
    var currentHeight = img.length > 0 ? Math.round(img.height()) : 0

    // Create Delete menu item
    var $deleteItem = $('<div>')
        .text('Delete')
        .attr('data-action', 'delete')
        .css({
            'padding': '8px 12px',
            'cursor': 'pointer',
            'border-bottom': '1px solid #eee'
        })
        .hover(
            function() { $(this).css('background', '#f0f0f0') },
            function() { $(this).css('background', 'white') }
        )

    $contextMenu.append($deleteItem)

    // Create Size section only if there's an image
    if (img.length > 0) {
        // Store aspect ratio
        var aspectRatio = currentWidth / currentHeight

        // Size label
        var $sizeLabel = $('<div>')
            .text('Current size: ' + currentWidth + 'x' + currentHeight)
            .css({
                'padding': '8px 12px',
                'font-size': '11px',
                'color': '#666',
                'border-bottom': '1px solid #eee'
            })

        // Width input
        var $widthInput = $('<div>')
            .css({
                'padding': '8px 12px',
                'border-bottom': '1px solid #eee'
            })
            .html('<label style="font-size: 12px;">Width: <input type="number" id="ctx-width" value="' + currentWidth + '" style="width: 60px; margin-left: 5px;" /></label>')

        // Height input
        var $heightInput = $('<div>')
            .css({
                'padding': '8px 12px',
                'border-bottom': '1px solid #eee'
            })
            .html('<label style="font-size: 12px;">Height: <input type="number" id="ctx-height" value="' + currentHeight + '" style="width: 60px; margin-left: 5px;" /></label>')

        // Apply button
        var $applyBtn = $('<div>')
            .text('Apply')
            .attr('data-action', 'apply-size')
            .css({
                'padding': '8px 12px',
                'cursor': 'pointer',
                'text-align': 'center',
                'background': '#e0e0e0',
                'font-weight': 'bold'
            })
            .hover(
                function() { $(this).css('background', '#d0d0d0') },
                function() { $(this).css('background', '#e0e0e0') }
            )

        $contextMenu.append($sizeLabel, $widthInput, $heightInput, $applyBtn)

        // Add event handlers for maintaining aspect ratio
        setTimeout(function() {
            $('#ctx-width').on('input', function() {
                var newWidth = parseInt($(this).val())
                if (newWidth > 0) {
                    var newHeight = Math.round(newWidth / aspectRatio)
                    $('#ctx-height').val(newHeight)
                }
            })

            $('#ctx-height').on('input', function() {
                var newHeight = parseInt($(this).val())
                if (newHeight > 0) {
                    var newWidth = Math.round(newHeight * aspectRatio)
                    $('#ctx-width').val(newWidth)
                }
            })
        }, 0)
    }

    $contextMenu.css({
        'left': e.pageX + 'px',
        'top': e.pageY + 'px',
        'display': 'block'
    })

    return false
})

// Hide menu when clicking elsewhere
$(document).on('click', function(e) {
    if (!$(e.target).closest('#image-context-menu').length) {
        $contextMenu.hide()
    }
})

// Handle menu item clicks
$contextMenu.on('click', 'div[data-action]', function(e) {
    e.stopPropagation()
    var action = $(this).attr('data-action')

    if (!currentTarget) return

    if (action === 'delete') {
        // Delete the element
        if (confirm('Delete this element?')) {
            currentTarget.remove()
            // Trigger save to update the file
            socket.emit('update_thumbnail')
        }
        $contextMenu.hide()
    } else if (action === 'apply-size') {
        // Apply new size
        var newWidth = parseInt($('#ctx-width').val())
        var newHeight = parseInt($('#ctx-height').val())

        var img = currentTarget.find('img')
        if (img.length > 0 && newWidth > 0 && newHeight > 0) {
            // Apply CSS changes
            img.css({
                'width': newWidth + 'px',
                'height': newHeight + 'px'
            })

            // Get the image ID from the parent figure element
            var imageId = currentTarget.attr('id')
            if (imageId) {
                // For images, remove the random number suffix (last 3 chars if ends with 2 digits)
                var cleanId = imageId.match(/\d{2}$/) ? imageId.slice(0,-3) : imageId

                // Send size update to server
                // Format: "imageId§§width§§height"
                socket.emit('size_img', cleanId + '§§' + newWidth + '§§' + newHeight)
                console.log('Saving image size:', cleanId, newWidth + 'x' + newHeight)
            }

            // Update thumbnail
            socket.emit('update_thumbnail')
        }
        $contextMenu.hide()
    }
})

//------------------------- fixing image's and equation's position

key('ctrl+s', function(e){

      /*
      Fixing image and equation position..
      */

      // Prevent browser's default save dialog
      e.preventDefault()

      var count = 0
      $('p figure, p.eq').each(function(){
          var pos = $(this).offset()
          var id = $(this).attr('id')
          if (id) {
              // For images, remove the -## suffix (slice 0,-3)
              // For equations, use the id as-is
              var cleanId = id.match(/\d{2}$/) ? id.slice(0,-3) : id
              socket.emit('pos_img', cleanId + '§§' + JSON.stringify(pos))
              count++
          }
      })

      // Show confirmation message
      if (count === 0) return  // Don't show message if nothing to save

      // Create and display temporary message div
      var $msgDiv = $('<div>')
          .text('Position saved')
          .css({
              'position': 'fixed',
              'top': '50%',
              'left': '50%',
              'transform': 'translate(-50%, -50%)',
              'background-color': '#4CAF50',
              'color': 'white',
              'padding': '20px 40px',
              'border-radius': '5px',
              'font-size': '18px',
              'z-index': '10000',
              'box-shadow': '0 4px 6px rgba(0,0,0,0.3)'
          })

      $('body').append($msgDiv)

      // Remove message after 1 second
      setTimeout(function() {
          $msgDiv.fadeOut(300, function() {
              $(this).remove()
          })
      }, 1000)

      // Update thumbnail for current slide
      socket.emit('update_thumbnail')

      return false  // Prevent any default browser behavior
})

//--------------------------------  Help syntax

var help_syntax = $('<div>').attr('id','help_syntax')
infos_css_dict.height = 700;
//infos_css_dict['padding-left'] = -50;
help_syntax.css(infos_css_dict)
help_syntax.draggable()
$('#content').append(help_syntax.hide())
help_syntax.click(function(){
    $(this).toggle()
})

//------------------------ available Syntax

var syntax = function(){/*

# syntax

* Syntax ::
    * diese : title
    * !head :  header
    * !foot : footer
    * blabla !fo, put blabla in orange frame
    * $memo0 : create a numbered memo..
    * !memo0 : at the end of a line, indicates where to apply the memo..
    * !stp : stop the slide undtil this sign..

*/}.toString().slice(14,-3)

$('#help_syntax').html(simple_md(syntax))

//-------  show syntax

socket.on('syntax', function(){
     /*
     toggle syntax
     */
     $('#help_syntax').toggle()
    })
key('alt+h', function(){         // show syntax
    $('#help_syntax').toggle()
})

//--------------------------------  Configuration

var config = $('<div>').attr('id','config')
config.css(infos_css_dict)

config.draggable()
$('#content').append(config.hide())
config.click(function(){
    $(this).toggle()
})

//------------------------ available voice commands

var config_content = function(){/*

# Configuration

* Config ::
    * blabla

*/}.toString().slice(14,-3)

$('#config').html(simple_md(config_content))

//-------  show config

socket.on('config', function(){

     /*
     toggle config
     */
     //alert("configuration !!!!!!!!!!!")
     $('#config').toggle()

    })

key('alt+c', function(){         // show config
    $('#config').toggle()
})

//------------------------------- Generate PDF from thumbnails

key('alt+ctrl+p', function(){         // Generate PDF from thumbnails
    console.log('Generating PDF from thumbnails...')
    socket.emit('generate_pdf')
    // Show a notification
    var notification = $('<div>').text('Génération du PDF en cours...').css({
        'position': 'fixed',
        'top': '50%',
        'left': '50%',
        'transform': 'translate(-50%, -50%)',
        'background': 'rgba(0, 0, 0, 0.8)',
        'color': 'white',
        'padding': '20px 40px',
        'border-radius': '5px',
        'font-size': '18px',
        'z-index': '10000'
    })
    $('body').append(notification)

    // Listen for completion
    socket.once('pdf_generated', function(data) {
        if (data.success) {
            notification.text('PDF généré avec succès ! Téléchargement en cours...')

            // Trigger download
            var link = document.createElement('a')
            link.href = data.downloadUrl
            link.download = 'slides.pdf'
            document.body.appendChild(link)
            link.click()
            document.body.removeChild(link)

            setTimeout(function() {
                notification.fadeOut(500, function() { $(this).remove() })
            }, 2000)
        } else {
            notification.text('Erreur lors de la génération du PDF: ' + (data.error || 'Erreur inconnue'))
            setTimeout(function() {
                notification.fadeOut(500, function() { $(this).remove() })
            }, 3000)
        }
    })
})

//------------------------------- Drag & Drop Image Upload

// Create drop zone overlay
var dropZone = $('<div>').attr('id', 'drop-zone')
dropZone.css({
    'position': 'fixed',
    'top': '0',
    'left': '0',
    'width': '100%',
    'height': '100%',
    'background-color': 'rgba(100, 100, 255, 0.3)',
    'border': '5px dashed #4444ff',
    'display': 'none',
    'z-index': '10000',
    'justify-content': 'center',
    'align-items': 'center',
    'font-size': '48px',
    'color': '#4444ff',
    'pointer-events': 'none'
})
dropZone.html('Drop image here')
$('body').append(dropZone)

// Prevent default drag behaviors on document
$(document).on('dragover', function(e) {
    e.preventDefault()
    e.stopPropagation()
    $('#drop-zone').css('display', 'flex')
})

$(document).on('dragleave', function(e) {
    e.preventDefault()
    e.stopPropagation()
    // Only hide if leaving the window
    if (e.originalEvent.clientX === 0 && e.originalEvent.clientY === 0) {
        $('#drop-zone').hide()
    }
})

$(document).on('drop', function(e) {
    e.preventDefault()
    e.stopPropagation()
    $('#drop-zone').hide()

    var files = e.originalEvent.dataTransfer.files
    if (files.length > 0) {
        var file = files[0]

        // Check if it's an image
        if (file.type.match('image.*')) {
            // Get drop coordinates (relative to page)
            var dropX = e.pageX
            var dropY = e.pageY
            console.log('Drop position:', dropX, dropY)

            // Create FormData to send file
            var formData = new FormData()
            formData.append('image', file)
            formData.append('diapo_index', diapo_index)
            formData.append('posX', dropX)
            formData.append('posY', dropY)

            // Upload image via AJAX
            $.ajax({
                url: '/upload-image',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    console.log('Image uploaded successfully:', response)
                    // Reload the page to show the new image
                    location.reload()
                },
                error: function(xhr, status, error) {
                    console.error('Upload failed:', error)
                    alert('Failed to upload image: ' + error)
                }
            })
        } else {
            alert('Please drop an image file')
        }
    }
})

//------------------------------- Detect and send screen dimensions

// Send screen dimensions on page load - use screen object directly
$(document).ready(function() {
    // Wait longer to ensure socket is connected
    setTimeout(function() {
        // Use screen.width and screen.height directly (no zoom adjustment needed)
        var width = screen.width
        var height = screen.height

        console.log('=== Screen Detection ===')
        console.log('screen.width: ' + screen.width)
        console.log('screen.height: ' + screen.height)
        console.log('window.devicePixelRatio: ' + window.devicePixelRatio)
        console.log('Socket connected: ' + socket.connected)
        console.log('Sending dimensions: {}x{}'.format(width, height))
        console.log('=======================')

        // Make sure socket is connected before sending
        if (socket.connected) {
            socket.emit('update_viewport', { width: width, height: height })
        } else {
            // Wait for connection then send
            socket.on('connect', function() {
                console.log('Socket connected, now sending dimensions')
                socket.emit('update_viewport', { width: width, height: height })
            })
        }
    }, 1000)  // Increased delay to 1000ms
})

// ============================================
// MEMO SYSTEM - Included from memos/memo.js
// ============================================

{% include 'memos/memo.js' %}

</script>
