{% include 'begin.html' %}
{% include 'header.html' %}
{% include 'voice.html' %}

<style>
body, html {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100vw;
}
</style>

<h1> Miniatures </h1>

<br><br><br><br>

{% for i in range(0, number_diapos) -%}

        <img id="thumb{{i}}" src="thumbnails/thumb_{{i}}.png" class="thumbnail" data-diapo="{{i}}" />
        <span class="name_diap" id="d{{i}}"> {{i}} </span>

{% endfor %}

<script>

var socket = io.connect();

// Thumbnail dimensions (from Puppeteer screenshot: 1200x800)
var thumbWidth = 240  // 20% of 1200
var thumbHeight = 160  // 20% of 800

var nbcol = {{nb_horiz_mosaic}}    // nb of columns in the mosaic
var nblines = Math.round({{number_diapos}}/nbcol)  // nb of lines in the mosaic
var modulo = {{number_diapos}}%nbcol
if ( modulo != 0 ){nblines += 1}

// Style all thumbnails
$('.thumbnail').css({
    'position': 'absolute',
    'width': thumbWidth + 'px',
    'height': thumbHeight + 'px',
    'cursor': 'pointer',
    'border': '2px solid #ccc',
    'box-shadow': '0 2px 5px rgba(0,0,0,0.2)'
})

function one_diap(currdiap,i,j){
      /*
      Position one thumbnail
      */
      var margin = 60
      var spacingX = thumbWidth + margin
      var spacingY = thumbHeight + 60

      // Calculate centered position
      var mosaicWidth = nbcol * spacingX
      var startX = (window.innerWidth - mosaicWidth) / 2

      var posx = startX + spacingX*j
      var posy = 150 + spacingY*i

      // Center the number above the thumbnail
      var posxd = posx + thumbWidth/2
      var posyd = posy - 30

      $('#thumb' + currdiap).css({'top' : posy, 'left' : posx})
      $('#d' + currdiap).css({
          'position': 'absolute',
          'top' : posyd,
          'left' : posxd,
          'font-size' : '11px',
          'text-align' : 'center',
          'transform': 'translateX(-50%)',
          'font-weight': 'bold'
      })
}

function make_the_mosaic(nblines,nbcol){
      /*
      Build the complete mosaic representation
      */
      for (var i=0; i < nblines; i++){
          for (var j=0; j < nbcol; j++){
               var currdiap = i*nbcol + j
               if (currdiap < {{number_diapos}}){
                    one_diap(currdiap,i,j)
              }
          }
      }
}

make_the_mosaic(nblines,nbcol)

// Click on thumbnail to navigate to that slide
$('.thumbnail').click(function(){
      var diapoNum = parseInt($(this).attr('data-diapo'))
      var diapoId = 'd' + diapoNum
      socket.emit('numdiap', diapoNum)
      location.replace(diapoId)
})

// Click on number to navigate to that slide
$('.name_diap').click(function(){
      socket.emit('numdiap', parseInt($(this).attr('id').slice(1)))
      location.replace($(this).attr('id'))
})

// Handle window resize
function repositionMiniatures() {
    make_the_mosaic(nblines, nbcol)
}

window.addEventListener('resize', function() {
    setTimeout(repositionMiniatures, 100)
})

</script>


{% include 'diapo.html' %}
{% include 'math.html' %}
{% include 'scroll_socket.html' %}
{% include 'end.html' %}
