

<script src="/socket.io/socket.io.js"></script>
<script src="keymaster.js"></script>

<script>

String.prototype.format = function () {
  var i = 0, args = arguments;
  return this.replace(/{}/g, function () {
    return typeof args[i] != 'undefined' ? args[i++] : '';
  });
};

var keyev = function(key, event){

        /*
        generic code for key event with a key letter..
        */

        if (event.keyCode == key.charCodeAt(0)-32 ){
            curr_func(key)
            return true
        }else{ return false }

      } // end keyev

function change_diapo(diapo_index, diapo_max, event, socket){

      /*
      Change diapo with arrow left or right
      */

      if (event.keyCode == 39){
            if ((diapo_index+1) < diapo_max){ diapo_index += 1 }
            location.replace("d{}".format(diapo_index))
            socket.emit('numdiap', diapo_index)
            }
      if (event.keyCode == 37){
            if ((diapo_index-1) > -1){ diapo_index += -1 }
            location.replace("d{}".format(diapo_index))
            socket.emit('numdiap', diapo_index)
            }

      return diapo_index
}

var socket = io.connect();
$('h1').css({'right':'5%'})
var diapo_index = null
socket.on('numdiap', function(text){ diapo_index = text })  // index of current diap
var diapo_max = null
socket.on('maxdiap', function(text){ diapo_max = text })    // number max of diap

$( document ).keydown(function() {
    diapo_index = change_diapo(diapo_index, diapo_max, event, socket)
});
key('ctrl+d', function(){
    socket.emit('make_new_diap', '')
    alert('adding a new diapo !!!!!');
    return false
  });

$('h2').css({'border':'3px solid blue', 'display':'inline-block', 'padding':' 7px 7px 7px 7px'})
$('li').css({'font-size':'160%', 'margin': '30px 100px', 'color':'#000000'})
$('.effect2').css({'box-shadow':'0 0 0 0'})
$('.navbar-inner').hide()
$('#toc').hide()
$('#content').css({'margin-left':'200px',
                   'padding-bottom':'20px',
                   'padding-top':'50px',
                   'height' : '790px'
                   })
$('li li').hide() // hide the Mémos
$('.help').hide() // hide the help
$('#gobottom').hide() // hide the help


function remove_patt_change_css(elem,txt,patt,dic_css){

      /*
      Remove the pattern and modiy the css
      patt : pattern
      dic_css : dictionary of the css parameters..
      */

      var new_txt = txt.split(patt)[1]
      elem.text(new_txt)
      elem.css(dic_css)

}

function p_match__inject_css(patt, dic_css){

      /*
      Generic match replace
      patt : pattern
      dic_css : dictionary of the css parameters..
      */

      $("p").each(function(){
           var txt = $(this).text()
           if (txt.match(patt)){
               remove_patt_change_css($(this),txt,patt,dic_css)
               if (txt.match(/\!eq/)){                                // if equation..
                  $(this).text('$$' + $(this).text() + '$$')
               }
           }
       })
}

function make_head(){

      /*
      header
      syntax : !head blablabla..
      */

      var dichead = {'position':'absolute','top':'90px',
                     'font-size':'120%', 'right':'250px'}
      p_match__inject_css(/\!head/, dichead)
      $('#content').append($('</p>').attr('id','footlim'))
      $('#footlim').html('<hr>')
      $('#footlim').css({'position':'absolute','top':'780px'})

}

function make_foot(){

      /*
      footer
      syntax : !foot blablabla..
      */

      var dicfoot = {'position':'absolute','top':'800px','font-size':'110%'}
      p_match__inject_css(/\!foot/, dicfoot)

      $('#content').append($('</p>').attr('id','footlim'))
      $('#footlim').html('<hr>')
      $('#footlim').css({'position':'absolute','top':'780px'})

}

function make_eq(){

      /*
      Equation
      syntax : !eq e^{i\pi}=-1
      */

      var diceq= {'position':'relative','font-size':'150%',
                  'text-align':' center '}
      p_match__inject_css(/\!eq/, diceq)

}

make_head()  //-----------------------------  Header
make_foot()  //-----------------------------  Footer
make_eq()    //-----------------------------  Equation

//-----------------------------  Mémos

// var tag_infos = $('<div>').attr('id','infos')
// tag_infos.css({'position':'absolute',
//               'top': '50px', 'left':'10px',
//               'padding-top' : '50px',
//               'width': '400px','height': '400px',
//               'font-size' : '16px',
//               'background-color':'white',
//               'box-shadow': '8px 8px 12px #aaa',
//               'opacity':'1',
//               'z-index': '100'})
//
// //tag_infos.draggable()
//
// $('#content').append(tag_infos.hide())
// $('li').click(function(){                    // clicking on li to have the corresponding Memo infos
//
//     tag_infos.html('<h1> Mémo </h1>')
//     var clone = $(this).clone()
//     var diccss = {'font-size':'16px', 'margin':'20px 20px'}
//     clone.css(diccss)
//     clone.find('*').css(diccss)
//     tag_infos.append(clone)
//     clone.find("li").show()
//     tag_infos.toggle()
//
// })
//
// tag_infos.click(function(){
//     $(this).toggle()
// })


//-----------------------------

</script>
