<!DOCTYPE html>
<html>

<meta charset="UTF-8">


<style>

.wrap {
    width: 640px;
    height: 480px;
    overflow: hidden;
}

iframe {
    position: relative;
    top:30px;
    width: 110% !important;
    height: 900px !important;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    /* overflow: hidden; */
}


</style>


<!-- <iframe id="frame0"
    title="Inline Frame Example"
    width="300"
    height="200"
    src="http://www.scilogs.fr/">
</iframe> -->


<iframe id="frame1"
    src="d1">
</iframe>


<iframe id="frame1" style="top:-400px"
    src="d2">
</iframe>

<iframe id="frame1" style="top:-840px"
    src="d3">
</iframe>

<!-- <iframe id="frame2"
    title="Inline Frame Example"
    width="300"
    height="200"
    /* apply the transform */
    -webkit-transform:scale(0.25);
    -moz-transform:scale(0.25);
    -o-transform:scale(0.25);
    transform:scale(0.25);
    src="d2">
</iframe> -->


{% include 'end.html' %}
