
<script>

MathLive.renderMathInDocument() 

function replace_bold_underline(elem, txt, kind) {

      /*

      Bold or underlined text

      */

      var re = new RegExp('\"[^"]+\"', 'g')
      var new_txt = txt.match(re)[0].slice(1, -1)
      new_txt = '<{}> {} </{}>'.format(kind, new_txt, kind)
      //var replspan =  $('<span/>').text(new_txt).css({'color':dic_col[col]})
      elem.html(new_txt)

}

function replace_color(elem, txt, col) {

      /*

      Color the text

      */

      //alert('color')
      dic_col = {
            'r': 'red', 'b': 'blue', 'y': '#ffe066',
            'g': '#8cd98c', 'o': 'orange', 'm': '#cc0066'
      }
      var re = new RegExp('\"[^"]+\"', 'g')
      var new_txt = txt.match(re)[0].slice(1, -1)
      //alert(new_txt)
      var replspan = $('<span/>').text(new_txt).css({ 'color': dic_col[col] })
      elem.html(replspan)

}

function modif_between_quotes(elem, kind, arg) {

      /*

      find regular expression and modify it..
      Becareful to put a space after the last character !!!!!!!
      "aeaeaaeae"cr + "  "  !!!

      */

      elem.each(function () {
            var re = new RegExp('\"[^"]+\"' + kind + arg, 'g')   // case color
            var txt = $(this).text()
            //alert(txt)

            if (txt.match(re)) {
                  //alert("text first match is " + txt)
                  if (kind == 'c') { replace_color($(this), txt, arg) }
                  if (kind == 'u') { replace_bold_underline($(this), txt, kind) }

            }
      })

}

// color, bold and underline for p and li..

modif_between_quotes($('p'), 'c', 'b')
modif_between_quotes($('li'), 'c', 'b')
// modif_between_quotes($('li li'),'c','b')

$('li').hover(function(){
     if ($(this).text().match(/[\u3400-\u9FBF]/)){
            $(this).css({"font-size" : "large"})    // if chinese, magnify the text..
     }
})
$('li').mouseleave(function(){
      $(this).css({"font-size" : "100%"}) // normal size
})

</script>


