<style>

iframe {
    position: absolute;
    width: 1200px;
    height: 675px;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow: hidden !important;
    border: 2px solid #ccc;
    clip-path: inset(0);
}

.mini_iframe_small {
    position: relative;
    top:30px;
    width: 100% !important;
    height: 920px !important;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    /* overflow: hidden; */
}

span {
    position: absolute;

}


</style>
