<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script>

/*
d3.js slider..
*/

$('#content').append($('<div/>').attr('id','slider').css({'position':'absolute','top':'750px'}))
$('#content').append($('<div/>').attr('id','slider_value').css({'position':'absolute','top':'780px'}))
$('#content').append($('<div/>').attr('id','current_diapo'))
$("#slider_value").hide() //


function css_miniature(elem){

      /*
      Css for miniature
      */

      elem.css({'position':'absolute',
                'top':'450px',
                'left': d3.event.x + 60,
                '-webkit-transform': 'scale(0.3)',
                'transform': 'scale(0.3)',
                '-webkit-transform-origin': '0 0',
                'transform-origin': '0 0'
              })

}

function show_target_diapo(d3){

      /*
      Miniature of the target diapo
      */

      var frame_part = '<iframe  id="frame0" src="{}" style="width:1600px;height:950px" > sandbox </iframe>'.format(numdiap())
      var title_part = '<br><br><br><br><center><h1>{}</h1></center>'.format(numdiap())
      elem = $('#current_diapo')
      elem.html(frame_part + title_part)
      css_miniature(elem)

}

var drag_slider = d3.behavior.drag()
    .origin(function(d) { return d })
    .on("dragstart", dragstarted)
    .on("drag", function(d) {
        if (d.dir == "x"){
            d.action();
            show_target_diapo(d3)
            return d3.select(this).attr("cx", d.x  = d3.event.x ) ;
            }
        else if (d.dir == "y"){
            $("#slider_value").html(d3.event.y);
            d.action();
            return d3.select(this).attr("cy", d.y  = d3.event.y);
            }
    })
    .on("dragend", dragended);

var length_slider = 1000

var svg = d3.select("#slider")
            .append("svg")
            .attr("width", length_slider)
            .attr("height", 100);

var chgx = function(){$("#slider_value").html(d3.event.x)}
var chgy = function(){$("#slider_value").html(d3.event.y)}

var slide = function(data, name_svg){              // Vertical or horizontal slider

    slider_line = function(data){
          var svg_slider_line = name_svg
            .selectAll("svg_slider_line")
            .data(data)
            .enter()
            .append("line")
            .attr('x1', function(d){return d.xbar}) //
            .attr('y1', function(d){return d.ybar})
            .attr('x2', function(d){if ( d.dir=="x" ){ return d.slength + d.xbar } else { return d.xbar }}) //
            .attr('y2', function(d){if ( d.dir=="y" ){ return d.slength + d.ybar } else { return d.ybar }})
            .attr('stroke', function(d){return d.col})
            .attr('stroke-width', '4px')
        }

    slider_button = function(data){
        //alert(data)
        //data = data.slice(-1)
        var slider_butt = name_svg
          .selectAll("svg_slider_button")
          .data(data)
          .enter()
          .append("ellipse")       // attach an ellipse
          .attr("cx", function(d){return d.x})           // position the x-centre
          .attr("cy", function(d){return d.y})           // position the y-centre
          .attr("rx", 7)           // set the x radius
          .attr("ry", 7)           // set the y radius
          .attr("fill", function(d){return d.col})
          .attr("class", "slide")
          .call(drag_slider);
        }
    slider_line(data);
    slider_button(data);
}

function dragstarted(d) {
    d3.event.sourceEvent.stopPropagation();
    d3.select(this).classed("dragging", true);
}

function dragended(d) {
    d3.select(this).classed("dragging", false);
    var newdiap = numdiap()
    //alert("ooooooopsssss")
    socket.emit('numdiap', newdiap.slice(1)) // send new num of diap..
    window.location.href = newdiap;  // passes to another slide.. 
    }

function numdiap(){

    /*
    Return the num of the current diapo..
    */

    val_denom = parseInt(parseFloat($("#slider_value").html())/length_slider*diapo_max)
    var name_diap = 'd' + val_denom

    return name_diap
}

</script>
