
<script src="artyom.window.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="keymaster.js"></script>

<script>

var socket = io.connect();

String.prototype.format = function () {
  var i = 0, args = arguments;
  return this.replace(/{}/g, function () {
    return typeof args[i] != 'undefined' ? args[i++] : '';
  });
};

const artyom = new Artyom();

artyom.initialize({
  lang:'fr-FR',
  continuous:true,
  debug:false,
  listen:true
})


// ----------------- Generic add commands


function add_commands(dict, func){

      /*
      Add commands to Artyom
      dict : {target0: sound0, target1: sound1 ... }
      func : dictionary of functions..
      */

      var dctools = {}

      Object.entries(dict).forEach(([key, value]) => {

              dctools[key] = {
                  indexes:[value], // These spoken words will trigger the execution of the command
                  action: function(){ func(key) }
                }
              artyom.addCommands(dctools[key]); // Add the command with addCommands method. Now

      }); // end for each
}

//------------------ Implemented commands ..

/*

1) go to slide..
2) all the slides..
3) new slide
4) help for keyboard shortcuts..
5)


*/

// ----------------- Voice navigation in the slides..


function go_to_diapo(i){

      /*
      Go to the diapo num i..
      */

      location.replace("d{}".format(i))  // change web address..
      socket.emit('numdiap', i)

}

var diapo_max = null
var dic_diapo =  {}
comm_done = false
socket.on('maxdiap', function(text){
      diapo_max = text
      for (var i=0; i < diapo_max; i++){dic_diapo[i] = 'diapo {}'.format(i) }
      if (!comm_done){ add_commands(dic_diapo, go_to_diapo) }
      else{comm_done = true}

 })    // number max of diap


//----------------------

dct_after = {
    indexes:['diapo suivante'], // These spoken words will trigger the execution of the command
    action: function(){
        if ( (diapo_index + 1) < diapo_max ){ diapo_index += 1 }
        location.replace("d{}".format(diapo_index))
        socket.emit('numdiap', diapo_index)                // informs server of the change of the slide number..
     }
  }
artyom.addCommands(dct_after);

//-------------

dct_before = {
    indexes:['diapo précédente'], // These spoken words will trigger the execution of the command
    action: function(){
        if ( (diapo_index - 1) > -1 ){ diapo_index += -1 }
        location.replace("d{}".format(diapo_index))
        socket.emit('numdiap', diapo_index)              // informs server of the change of the slide number..
     }
  }
artyom.addCommands(dct_before);


// --------------------  Global view of all the slides..


dct_synopt = {
    indexes:['vue globale',
              'voir toutes les diapos',
              'toutes les diapos'], // These spoken words will trigger the execution of the command
    action: function(){
            //alert("medium size slides !!!")
            location.replace("all")
            //socket.emit('numdiap', '0')
     }
  }
artyom.addCommands(dct_synopt);

// --------------------  Global view of all the slides in miniature


dct_mosaic = {
    indexes:['mosaïque', 'miniatures'], // These spoken words will trigger the execution of the command
    action: function(){
            //alert("small slides !!!")
            location.replace("all_mini")
     }
  }
artyom.addCommands(dct_mosaic);


// ----------------------- Create a new slide

dct_new_diap = {
    indexes:['ajoute une diapo',
               'créer nouvelle diapo',
               'faire nouvelle diapo',
               'nouvelle diapo'],            // These spoken words will trigger the execution of the command
    action: function(){                      // Ctrl + D
          socket.emit('make_new_diap', '')
     }
  }

artyom.addCommands(dct_new_diap);

//------------------------ Delete a slide

dct_del_diap = {
    indexes:['efface la diapo'],            // These spoken words will trigger the execution of the command
    action: function(){                      // alt+ctrl+x
        pos_before = diapo_index-1   //
        window.location.href = 'd' + pos_before;
        socket.emit('delete', diapo_index)
     }
  }

artyom.addCommands(dct_del_diap);

// ----------------------- Reinitialize sequential view..

// function progressive_visu_hide_show(elem,showline,count,reg){
//
//     /*
//     hide show...
//     */
//
//     if ( !showline  ){ elem.hide() } // hide if after tag !stp..
//     else if (showline & ( count > 0 )){
//         elem.show()
//         elem.find('li').show()
//         elem.html(elem.html().replace(reg,''))
//      }
//
// }

// ----------------------- Show help


dct_help = {
    indexes:['aide', 'commandes'], //
    action: function(){         // Alt + H
        $('#help_keys').toggle()
     }
  }

artyom.addCommands(dct_help);

// ----------------------- Show help for voice commands


dct_help_voice = {
    indexes:['voix'], //
    action: function(){         // Alt + V
        //alert('cmds vocales..')
        $('#help_voice_cmds').toggle()
     }
  }

artyom.addCommands(dct_help_voice);


// ----------------------- Activate deactivate memos..


dct_memos = {                                 // Ctrl + M
    indexes: ['mémo'],                        // These spoken words will trigger the execution of the command
    action: function(){
                socket.emit('show_memos', '')
            }
  }

artyom.addCommands(dct_memos);

// ----------------------- Full screen


dct_screen = {                                 //
    indexes: ['plein écran'],                        // These spoken words will trigger the execution of the command
    action: function(){
            socket.emit('full_screen', '')
            }
  }

artyom.addCommands(dct_screen);


// ----------------------- go to markdown

dct_md = {                                 //
    indexes: ['texte'],                        // These spoken words will trigger the execution of the command
    action: function(){
            socket.emit('markdown', '')
            }
  }

artyom.addCommands(dct_md);

// ----------------------- Syntax

dct_syntax = {                                 //
    indexes: ['syntaxe'],                        // These spoken words will trigger the execution of the command
    action: function(){
            socket.emit('syntax', '')
            }
  }

artyom.addCommands(dct_syntax);

// ----------------------- Config

dct_config = {                                 //
    indexes: ['configuration'],                        // These spoken words will trigger the execution of the command
    action: function(){
            socket.emit('config', '')
            }
  }

artyom.addCommands(dct_config);



</script>
