
<script src="artyom.window.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="keymaster.js"></script>

<script>

var socket = io.connect();

String.prototype.format = function () {
  var i = 0, args = arguments;
  return this.replace(/{}/g, function () {
    return typeof args[i] != 'undefined' ? args[i++] : '';
  });
};

const artyom = new Artyom();

artyom.initialize({
  lang:'fr-FR',
  continuous:true,
  debug:false,
  listen:true
})

// ----------------- Generic add commands

function add_commands(dict, func){

      /*
      Add commands to Artyom
      dict : {target0: sound0, target1: sound1 ... }
      func : dictionary of functions..
      */

      var dctools = {}

      Object.entries(dict).forEach(([key, value]) => {

              dctools[key] = {
                  indexes:[value], // These spoken words will trigger the execution of the command
                  action: function(){ func(key) }
                }
              artyom.addCommands(dctools[key]); // Add the command with addCommands method. Now

      }); // end for each
}

// ----------------- Voice navigation in the slides..

function go_to_diapo(i){

      /*
      Go to the diapo num i..
      */

      location.replace("d{}".format(i))  // change web address..
      socket.emit('numdiap', i)

}

var diapo_max = null
var dic_diapo =  {}
comm_done = false
socket.on('maxdiap', function(text){
      diapo_max = text
      for (var i=0; i < diapo_max; i++){dic_diapo[i] = 'diapo {}'.format(i) }
      if (!comm_done){ add_commands(dic_diapo, go_to_diapo) }
      else{comm_done = true}

 })    // number max of diap


// --------------------  Global view of all the slides..

dct_synopt = {
    indexes:['vue globale', 'voir toutes les diapos', 'toutes les diapos'], // These spoken words will trigger the execution of the command
    action: function(){
            location.replace("all")
            //socket.emit('numdiap', '0')
     }
  }
artyom.addCommands(dct_synopt);


// ----------------------- Create a new slide

dct_new_diap = {
    indexes:['ajoute une diapo'], // These spoken words will trigger the execution of the command
    action: function(){  // Ctrl + D
          socket.emit('make_new_diap', '')
          //location.replace('d{}'.format(diapo_max+1))
     }
  }

artyom.addCommands(dct_new_diap);

// ----------------------- Activate deactivate memos..

// dct_memos = {
//     indexes:['montre les mémos'], // These spoken words will trigger the execution of the command
//     action: function(){  // Ctrl + D
//           socket.emit('show_memos', '')
//           //location.replace('d{}'.format(diapo_max+1))
//      }
//   }
//
// artyom.addCommands(dct_memos);

</script>
