
<script src="artyom.window.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="keymaster.js"></script>

<script>

var socket = io.connect();

String.prototype.format = function () {
  var i = 0, args = arguments;
  return this.replace(/{}/g, function () {
    return typeof args[i] != 'undefined' ? args[i++] : '';
  });
};

const artyom = new Artyom();

artyom.initialize({
  lang:'fr-FR',
  continuous:true,
  debug:false,
  listen:true
})


// ----------------- Generic add commands


function add_commands(dict, func){

      /*
      Add commands to Artyom
      dict : {target0: sound0, target1: sound1 ... }
      func : dictionary of functions..
      */

      var dctools = {}

      Object.entries(dict).forEach(([key, value]) => {

              dctools[key] = {
                  indexes:[value], // These spoken words will trigger the execution of the command
                  action: function(){ func(key) }
                }
              artyom.addCommands(dctools[key]); // Add the command with addCommands method. Now

      }); // end for each
}

//------------------ Implemented commands ..

/*

1) go to slide..
2) all the slides..
3) new slide
4) help for keyboard shortcuts..
5)


*/

// ----------------- Voice navigation in the slides..


function go_to_diapo(i){

      /*
      Go to the diapo num i..
      */

      location.replace("d{}".format(i))  // change web address..
      socket.emit('numdiap', i)

}

var diapo_max = null
var dic_diapo =  {}
comm_done = false
socket.on('maxdiap', function(text){
      diapo_max = text
      for (var i=0; i < diapo_max; i++){dic_diapo[i] = 'diapo {}'.format(i) }
      if (!comm_done){ add_commands(dic_diapo, go_to_diapo) }
      else{comm_done = true}

 })    // number max of diap


// --------------------  Global view of all the slides..


dct_synopt = {
    indexes:['vue globale', 'voir toutes les diapos', 'toutes les diapos'], // These spoken words will trigger the execution of the command
    action: function(){
            location.replace("all")
            //socket.emit('numdiap', '0')
     }
  }
artyom.addCommands(dct_synopt);


// ----------------------- Create a new slide

dct_new_diap = {
    indexes:['ajoute une diapo',
               'créer nouvelle diapo',
               'faire nouvelle diapo',
               'nouvelle diapo'],            // These spoken words will trigger the execution of the command
    action: function(){                      // Ctrl + D
          socket.emit('make_new_diap', '')
     }
  }

artyom.addCommands(dct_new_diap);


// ----------------------- Show help


dct_help = {
    indexes:['aide', 'commandes'], //
    action: function(){         // Alt + H
        $('#help_keys').toggle()
     }
  }

artyom.addCommands(dct_help);


// ----------------------- Activate deactivate memos..


//var show_memos = false;

dct_memos = {                                 // Ctrl + M
    indexes: ['mémo'],                        // These spoken words will trigger the execution of the command
    action: function(){
                socket.emit('show_memos', '')
            }

    // function(){                      // activate deactivate the memos
    //       key('ctrl+m')
    //       // show_memos = !show_memos
    //       // //alert('memo')
    //       // if (show_memos){
    //       //       $('.memo').css({'background-color':'#ffe6e6'})
    //       // }else{$('.memo').css({'background-color':'#ffffff'})}
    //
    //   }


  }

artyom.addCommands(dct_memos);





</script>
