
# Introduction

## diapo0

!head example d'en-tête avec nouvelle commande..

* Le rêve de la supraconductivité haute tempbingo
    * ```
    	L'idée au fond est toujours la même..
        Faire plus..
        Avec moins de moyens..
      ```
    * eaeae bibopa llulula
* 1987: la révolution
    * eaeaea
    * eaeaeafsfhsflhs
    * ```
    	Another day in paradise !!!
      ```
* 10 ans plus tard, le mystère plane toujours
* Les électrons fortement corrélés
* Ce qui se passe au confluent des rivière Magog et St François..

Remerciements:

Professeur *Jules Carbotte*

* Directeur du programme de l'institut
canadien de recherches avancées


* ^^
* ^^



!foot http://www.physique.usherb.ca/~tremblay/cours/ING-610
