# diap d1

## diapo 1

!head example d'autre en-tête, vérification du placement

* Le rêve de la "supraconductivité"cb !memo0
* "zaaaammm zooom zuumm "cg 
    * ziiipp
* 1987: la révolution aa  aa a aa a
    * "ziberwinger.."u ..
* 10 "ans plus tard"co , le mystère plane toujours 
* Les électrons fortement corrélés !memo1

$post aakekaheak cg


!foot http://www.physique.usherb.ca/~tremblay/cours/ING-610

$memo0

* Depuis quand est-ce un rêve??
    * beaucoup d'idées d'application..

$memo1

* ziber..
    * qu'est ce que ziber vraiment ?
