# introduction !tit

## History !fo

!head header example for police and placement

### summary
!pos249/166

!pos827/366
!['img' 268x254 %ybacuo-1766841128791%](imgs/ybacuo-1766841128791.jpeg)

* craziness of "supraconductivity"cb !memo0 
* Kamerling Ohnes was the "dicoverer"cg in 1911
    * last century, trying to freeze elements.. 
* 1987: HUge revolution with dicovery of the HTC 
    * like "YBaCuO"cg.. ..
* 10 "years later"co , the topic is still mysterious !stp
	* many tried unsuccessfully.
* Correlated electrons is also an interesting topic !memo1 !stp

!foot http://www.physique.usherb.ca/~tremblay/cours/ING-610

$memo0

* Supraconductivity is a very facinating phenomenon
    * It manifests through strong magnetic field rejection 
    * and also through current flowing with no resistance.. 

$memo1

* ziber..
    * qu'est ce que ziber vraiment ?




