# diapo 2

# A general intro stuff blabla

## diapo 2 !fb

!head tête ou pas..

* Rêve ou réalité?
* la révolution des "Siths"co

!pos978/655
!['fire in London tower, Turner' 300x300 %fire-in-London-tower-Turner%](imgs/fire-in-London-tower-Turner.jpg)

!pos1061/333
!['magno' 200x200 %magnolia%](imgs/magnolia.jpg)

!pos1229/229
!eq e^{i\pi}=-1



!foot http://www.physique.usherb.ca/~tremblay/cours/zzzzzzzzzzzzzzzziiii



!pos606/274
!['img' 300x300 %rose-1766679953458%](imgs/rose-1766679953458.jpg)
