
# Inspection des travaux finis

## diapo 3 !fg

!head tête ou pas..

* This is another day in Paradise
* La saga des sagouins 

!pos440/357
!['magno' 249x300 %example_of_magnolia%](imgs/magnolia.jpg)

!pos258/312
!eq ax^2+bx+c =
a
\left( x - \frac{-b + \sqrt {b^2-4ac}}{2a} \right)
\left( x - \frac{-b - \sqrt {b^2-4ac}}{2a} \right)

!tagv ballon



!foot http://www.physique.usherb.ca/~tremblay/cours/zzzzzzzzzzzzzzzziiii

!pos763/358
!['img' 225x300 %20251129_163624-1766769723323%](imgs/20251129_163624-1766769723323.jpg)
