# Rappel

* Les Météorologiques d'Aristote (384-322 BC)

La Voie Lactée irrégulière appartient au monde sublunaire

Un phénomène atmosphérique comme les étoiles filantes et les comètes

"Démocrite (460-370 BC) et la vision atomiste"cb

Des "étoiles très petites"u et serrées qui, à cause de la "distance"b du ciel à la Terre,

nous paraissent former une masse unie.


Lucrèce (99-51 BC)

la juxtaposition et le mélange des rayons lumineux

créent la Voie Lactée

Critiques au moyen-âge :

Pb de parallaxe, au-delà des planètes

Pas de variation saisonnière

Galilée et la lunette (1610) :

“la Galaxie n'est rien d'autre

qu'un amas d'étoiles innombrables”
