# nouvelle diapo..

## Diapo 7

* Il était une fois dans la ville de Foix, ahah
* [Altın Gün - Goca Dünya ;;](https://www.youtube.com/watch?v=WXTIJzPg1H4)
* dans cette contrée reculée, en plein milieu de rien..
	 * ```
  		bizmuth et belzébuth..
       ```
* Catalan equation

!pos739/498
!eq \frac{1}{2 \pi} \int_{0}^{4} x^{n} \sqrt{\frac{4-x}{x}} dx = C_{n}

!pos1087/357
!['sapin de Noël!' 300x300 %sapin-de-Noël%](imgs/sapin-de-Nol.jpg)

!pos252/466
!['aragonite' 300x300 %aragonite%](imgs/aragonite.jpg)
