# nouvelle diapo..

## Diapo 7

* Il était une fois dans la ville de Foix, ahah
* [Altın Gün - Goca Dünya ;;](https://www.youtube.com/watch?v=WXTIJzPg1H4)
* dans cette contrée reculée, en plein milieu de rien..
	 * ```
  		bizmuth et belzébuth..
       ```
* Catalan equation

!pos577/751
!eq \frac{1}{2 \pi} \int_{0}^{4} x^{n} \sqrt{\frac{4-x}{x}} dx = C_{n}

!pos759/357
!['sapin de Noël!' 170x301 %sapin-de-Noël%](imgs/sapin-de-Nol.jpg)

!pos480/357
!['aragonite' 225x300 %aragonite%](imgs/aragonite.jpg)
