# diapo 2

# A general intro stuff blabla

## diapo 2 !fb

!head tête ou pas..

* Rêve ou réalité?
* la révolution des "Siths"co

!pos1338/251
!['fire in London tower, Turner' 300x300 %fire-in-London-tower-Turner%](imgs/fire-in-London-tower-Turner.jpg)

!pos924/356
!['magno' 200x200 %magnolia%](imgs/magnolia.jpg)

!pos1195/467
!eq e^{i\pi}=-1


!pos508/263
!['img' 300x300 %20251129_163618-1766678880150%](imgs/20251129_163618-1766678880150.jpg)

!foot http://www.physique.usherb.ca/~tremblay/cours/zzzzzzzzzzzzzzzziiii


