# Rappel

## diapo 4

* Les "Météorologiques"u d'Aristote (384-322 BC)
* La Voie Lactée irrégulière appartient au monde sublunaire
* Un phénomène "atmosphérique comme les étoiles"cy filantes et les comètes !stp
* "Démocrite (460-370 BC) et la vision atomiste"cb
* Des "étoiles très petites"cy et serrées qui, à cause de la "distance"b du ciel à la Terre,
* nous paraissent former une masse unie. !stp


Lucrèce (99-51 BC)

la juxtaposition et le "mélange des rayons lumineux"cb  !stp

créent la "Voie Lactée"cy 

Critiques au moyen-âge : !stp




!foot Il était une fois un petit chaperon rouge.. 
