<!DOCTYPE html>

<html>

<meta charset="UTF-8">

<script src="artyom.window.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>

const artyom = new Artyom();

artyom.initialize({
  lang:'fr-FR',
  continuous:true,
  debug:false,
  listen:true
})

var dic_simple =  {
        indexes: ['table des matière'],
        action: function() {
            artyom.say("change le toc");
            $('#toc').toggle()
            }
    }
var dic_diapo =  {
        indexes: ['diapo 0'],
        action: function() {
            location.replace("d0")
            socket.emit('numdiap', 0)
            }
    }
artyom.addCommands(dic_simple); // Add the command with addCommands method. Now
artyom.addCommands(dic_diapo); // Add the command with addCommands method. Now


</script>

</html>
